body {
  background-image: url("../images/dice-wallpaper.jpg");
  background-color: black;
  background-size: auto;
  background-repeat: no-repeat;
}

p {
  font-size: 18px;
  color: lightseagreen;
  text-align: center;
  padding: 10px;
}

div {
  text-align: center;
}

#gameTitle {
  color: skyblue;
  font-size: 6em;
  text-align: center;
}

#gameSection {
  height: auto;
  width: auto;
}

.ruleSection {
  height: auto;
  width: auto;
}

.playerSection {
  background-color: lightgreen;
  left: 0;
  height: 50%;
  width: 37%;
  position: fixed;
  z-index: 1;
  top: 5;
  overflow-x: hidden;
}

.cpuSection {
  background-color: lightcoral;
  right: 0;
  height: 50%;
  width: 37%;
  position: fixed;
  z-index: 1;
  top: 5;
  overflow-x: hidden;
}

#playerScore {
  font-size: 4em;
  text-align: center;
}

#cpuScore {
  font-size: 4em;
  text-align: center;
}

#playerRoundScore {
  color: black;
  position: absolute;
  font-size: 2em;
  text-align: center;
}

#cpuRoundScore {
  color: black;
  position: fixed;
  font-size: 2em;
  text-align: center;
}

.playerDices {
  position: absolute;
  top: 40%;
  left: 41%;
  margin: -35px 0 0 -35px;
}

#playersFirstDice {
  height: 100px;
  width: 100px;
}

#playersSecondDice {
  height: 100px;
  width: 100px;
}

.rollBtn {
  height: 50px;
  width: 125px;
  padding: 10px;
  font-size: 15px;
  background-color: lightblue;
  border-radius: 10px;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  cursor: pointer;
}

.rollBtn1:hover {
  background-color: lightgreen;
  color: white;
  cursor: pointer;
}

.resetBtn {
  height: 50px;
  width: 125px;
  padding: 10px;
  font-size: 15px;
  background-color: lightcoral;
  border-radius: 10px;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  cursor: pointer;
}

.resetBtn1:hover {
  background-color: lightgreen;
  color: white;
  cursor: pointer;
}

#playAgainBtn {
  background: lightblue;
  height: 50px;
  width: 150px;
  font-size: 15px;
  color: black;
  border: 2px solid black;
  top: -10px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1000;
}

.cpuDices {
  position: absolute;
  top: 40%;
  left: 41%;
  margin: -35px 0 0 -35px;
}

#cpusFirstDice {
  height: 100px;
  width: 100px;
}

#cpusSecondDice {
  height: 100px;
  width: 100px;
}

.gamesRule {
  width: 1000px;
  position: fixed;
}

#ruleTitle {
  color: skyblue;
  font-size: 2em;
  text-align: center;
}

#popUp {
  display: block;
  width: 400px;
  height: 300px;
  top: 50%;
  left: 50%;
  padding: 10px;
  color: black;
  border: solid 1px black;
  border-radius: 10px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  font-size: 3em;
  z-index: 1000;
}

#btnClose {
  background-color: black;
  color: white;
  border-radius: 50%;
  font-weight: bold;
  border: solid 2px black;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: -10px;
  z-index: 1000;
}

#gameStatus {
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}
